<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters in Computer Science</h1>
            <span>SUNY - Binghamton</span>
            <span><address>NY, USA</address><time>Aug 2016 to May 2018 (Expected) <p style="color:green;font-weight: bold">Status:In progress </p></time></span>
        </header>
        <p>
            <!--<em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>-->
            <em>
            Course Curriculum <br> 
            </em>
            &emsp; Adv.Object Oriented Programming <br>
            &emsp; Machine Learning <br>
            &emsp; Systems Programming <br>    
            &emsp; Operating Systems <br> 
            &emsp; Algorithm <br>
            &emsp; Programming Languages <br>
            &emsp; Computer Architecture
            
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelors in Computer Science</h1>
            <span>Government College Of Engineering, Aurangabad</span>
            <span><address>Maharashtra, India</address><time> July 2009 to Jun 2013 <p style="color:green;font-weight: bold"> Status:Completed </p></time></span>
        </header>
        <p>
            <em>
            Course Curriculum <br>
            </em>    
            &emsp; Distributed Systems <br>
            &emsp; Theory of Computation <br>
            &emsp; Advanced C <br>
            &emsp; Compiler Construction <br>
            &emsp; Design of Linux OS <br>
            &emsp; Computer Networks <br>
        </p>
    </article>
</section>
