<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MS in Computer Science</h1>
            <span>SUNY - Binghamton University</span>
            <span><address>NY, USA</address><time>Aug 2016 to May 2018</time></span>
        </header>
        <p>
            <!--<em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>-->
            <em>Courses: Adv.Object Oriented Programming, Operating System, Systems Programming, Algorithm</em>
            <br/>
            <em>Machine Learning</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BE in Computer Science</h1>
            <span>GECA</span>
            <span><address>Aurangabad, India</address><time> Mar 2009 to Apr 2013</time></span>
        </header>
        <p>
            <em>Dean's list for 3 semesters</em>
        </p>
    </article>
</section>
