<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters in Computer Science</h1>
            <span>SUNY - Binghamton</span>
            <span><address>NY, USA</address><time>Aug 2016 to May 2018 (Expected) </time></span>
        </header>
        <p>
            <!--<em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>-->
            <em>
            Course Curriculum <br> 
            Adv.Object Oriented Programming <br>
            Machine Learning <br>
            Systems Programming <br>    
            Operating Systems <br> 
            Algorithm <br>
            Programming Languages <br>
            Computer Architecture
            </em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelors in Computer Science</h1>
            <span>Government College Of Engineering, Aurangabad</span>
            <span><address>Maharashtra, India</address><time> July 2009 to Jun 2013</time></span>
        </header>
        <p>
            <em>
            Course Curriculum <br>
            Distributed Systems <br>
            Theory of Computation <br>
            Advanced C <br>
            Compiler Construction <br>
            Design of Linux OS <br>
            Computer Networks <br>
            </em>
        </p>
    </article>
</section>
