<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Tata Consultancy Services</h1><br/>
            <h2>Systems Engineer</h2>
            <span><address>Pune, India</address><time>2013 - 2016</time></span>
        </header>
        <p> <strong>Digital Gift Card</strong><br/>
           Followed Agile and Test-driven methodologies and was involved in developing application from the scratch. 
           Developed front-end. Integrated Facebook SDK. Implemented GCM notifications. Extensive use of animations. 
           Built backend with MySQL and RESTful API’s. Around 5k+ downloads. <br/>
           <strong>Skills:</strong> Android studio, Volley, Postman, SVN </p>
    </article>
    <article>
        <header>
            <h1>Android Developer</h1>
        </header>
        <p><strong>BMB Application Framework</strong><br/>
             Built customized widgets and container to simplify developer’s task for gateway communication. Used Event bus mechanism 
            to ease communication between components. Built API wrappers to integrate third party libraries such as social sites, adobe analytics 
            and file operations. Created the Technical specification document along with the test cases, supported System Integration Testing (SIT), 
            User Acceptance Testing (UAT) and product migration. Tracked and updated user stories in JIRA. Currently in use by internal teams to 
            minimize the time needed for the development. <br/>
            <strong>Skills:</strong> Android studio, Event bus, Git, Container
        </p>
    </article>
    <article>
        <header>
            <h1>Android Developer</h1>
        </header>
        <p><strong>AliPay</strong><br/>
             Implemented Barcode scanning module. Optimized code for existing modules to the greater extent. Developed module Payment, Refund and Transaction 
            History to ease merchant payment processing. Simultaneously, worked on the live project named BMB to fix the higher priority UI defects. <br/>
            <strong>Skills:</strong> Android studio, Zxing, SVN 
        </p>
    </article>
    <article>
        <header>
            <h1>Java Developer- Backend</h1>
        </header>
        <p><strong>EPOS</strong><br/>
           Designed, developed and implemented backend. Written RESTful web services. Maintained Data Analytics for inventory and offer 
          management systems at the front end. Built Onboarding and Login module for both Merchant and Employee using AWS (used Linux and MySQL server instance).<br/> 
          <strong>Skills:</strong> Spring Boot, Hibernate, Gradle, JPA, Spring Tool Suite, JSON, Rest web services, Git
        </p>
    </article>
    <article>
        <header>
            <h1>Java Developer</h1>
        </header>
        <p><strong>Customer Chat Bot</strong><br/>
           Built Proof of Concept Customer Troubleshooting desktop tool based on AIML natural language processing and pattern matching to answer
          customers queries quickly rather than relying on support team. Typing query would return with multiple answers and steps to resolve the issue.
          Achieved client appreciation certificate. <br/>
          <strong>Skills:</strong> Java, Servlets, AIML, JavaScript 
        </p>
    </article>
    <article>
        <header>
            <h1>Assistant Systems Engineer, Intern </h1>
        </header>
        <p> <strong>Workforce Management System</strong><br/>
          Replaced manual resource handling process with an automated software tool. Implemented profile filtering, tracking, record generation 
         and role based work lists features. Developed Dashboard module to check recent updates. Tool currently in use internally by Project Manager 
         teams at TCS. <br/>
         <strong>Skills:</strong> Java, JSP, Servlets, CSS, HTML, JQuery, Ajax, Tomcat, IBM DB2, JavaScript, Dojo
        </p>
    </article>
</section>
