<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <p>After completing my UG degree in Computer Science, I joined Tata Consultancy Services (TCS), one of India's largest software development
            corporation. It was a great opportunity in learning and growing as a software professional. The three year tenure at TCS as a System Engineer 
            has introduced me to learn many new technologies. I worked for the clients such as Barclays, HSBC and received accolades for delivering projects 
            within deadline under stricture time conditions. While working, I also took the opportunity to deliver lectures on technical
            subjects to the juniors, as well as mentor them for improving their technical skills. Apart from my passion for computer science technology,
            I devoted time for voluntary activities. I was a part of Fit4Life program, where the distance I run each day would be equivalent to the amount
            I contribute to charity. I volunteered at 'Donate old clothes for charity' program. I initiated the 'Computer4Everyone' activity, as a part 
            of which my team and I have visited ten different schools and have taught students the fundamentals of computers. Given my unquenchable thirst for
            learning new technologies, I decided to pursue advanced degree. And currently I am pursuing my Masters in Computer Science at State University
            of New York -Binghamton.
           </p>
        <header>
            <br/>
            <h1>Mobile Applications</h1>
            <p>
              <p style="color:blue;"> Digital Gift Card </p>
               
                    <p style="color:black;"> An application to create and send gift cards to your facebook friends which can be redeemed later </p>
                    &emsp; Responsibilites <br/>
                    &emsp; &emsp; Worked on developing mobile screens. Integrated Facebook SDK. Implemented GCM notifications.<br/> 
                <p style="color:blue;"> Barclays Mobile Banking (BMB) </p>
                
                    <p style="color:black;"> An application provides online banking management systems to the customers</p>
                    &emsp; Responsibilites <br/>
                    &emsp; Worked on fixing UI defects. Added new features to the Credit card modules. Developed UI screens. <br/>
                <p style="color:blue;"> Alipay </p>
                
                    <p style="color:black;">An application for third party mobile and online payment platform</p>
                    &emsp; Responsibilites <br/>
                    &emsp; Worked on developing mobile screens. Refactoring of the existing modules. <br/>
                 <p style="color:blue;"> BMB Applications Framework </p>
                
                    <p style="color:black;">A Framework to act as a third party library in Android applications development</p>
                    &emsp; Responsibilites <br/>
                    &emsp; Worked on developing API wrapper's for social sites, file operations and container. Performed SIT and UAT testing. Written test modules <br/>
                <p style="color:blue;"> Point Of Sale (EPOS) </p>
                
                    <p style="color:black;">An Application at store to regulate the Inventory and Offer managment system</p>
                    &emsp; Responsibilites <br/>
                    &emsp; Design and develop backend system. Written RESTful web services. <br/>
                <p style="color:blue;"> Workforce Management Systems</p>
                
                    <p style="color:black;">An Automated web software tool to handle resource management</p>
                    &emsp; Responsibilites <br/>
                    &emsp; Written modules Dashboard, profile filtering and work list for the project manager role <br/>
            </p>
        </header>
    </article>
</section>
