<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>System Engineer</h1>
            <span><address>India</address><time>2015 - 2016</time></span>
        </header>
        <p> <strong>Digital Card</strong><br/>
           Followed Agile practices and Proof of Concept driven approach throughout the development and was involved with end to end 
           software development cycle. Developed mobile screens as per business design team. Created application Front-end in Android 
           Studio. Integrated Facebook SDK with an application to help Barclay’s customer celebrates multiple events with their social 
           friends using Digital Gift Cards. Implemented GCM notifications for personal and group gifting card use cases for the receiver
           for further redemption. Built data gateway with MySQL and RESTful API. Around 10k+ downloads </p>
    </article>
    <article>
        <header>
            <h1>Android Developer</h1>
            <span><address>India</address><time>2015</time></span>
        </header>
        <p><strong>BMB Application Framework</strong><br/>
            Built customized widgets and security container to simplify developer’s task for gateway communication. 
            Developed Event bus mechanism to ease communication between lower layer and view layer of the application. 
            Built API wrappers to integrate third party libraries which includes social sites and adobe analytics. 
            Created the Technical Specification Document, supported System Integration Testing (SIT), User Acceptance Testing (UAT) 
            and product migration. Currently in use by Barclay’s team to minimize the time needed for the mobile application development. 
        </p>
    </article>
    <article>
        <header>
            <h1>Android Developer</h1>
            <span><address>India</address><time>2014 to 2015</time></span>
        </header>
        <p><strong>AliPay</strong><br/>
             Implemented Barcode scanning module. Optimized code for existing modules to the greater extent. 
             Developed module screens Payment, Refund and Transaction History to ease merchant payment processing in Android Studio. 
        </p>
    </article>
    <article>
        <header>
            <h1>Java Developer</h1>
            <span><address>India</address><time>2014</time></span>
        </header>
        <p><strong>Customer Chat Bot</strong><br/>
           Built Proof of Concept Customer Troubleshooting desktop system based on AIML natural language processing and pattern matching 
            to answer Barclay’s customers queries quickly rather than relying on support team. Typing query would return with multiple answers 
           and steps to resolve the issue in addition to the voice recognition system support. Achieved client appreciation certificate. 
        </p>
    </article>
    <article>
        <header>
            <h1>Assistant Systems Engineer, Intern </h1>
            <span><address>India</address><time>2013 - 2014</time></span>
        </header>
        <p> <strong>Workforce Management System</strong><br/>
            Replaced XML based manual resource handling process with an automated software tool. Implemented profile filtering, tracking, 
            record generation and role based work lists features. Developed Dashboard module for the recent updates to view. 
            Tool currently in use by Project Manager teams at TCS. 
        </p>
    </article>
</section>
