<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>C, C++, Java, Python</em>
        </p>    
         <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Android Studio, Spring Tool Suite, Eclipse, Netbeans, Git</em>
        </p>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>MySQL, Oracle, SQLite</em>
        </p>
    </article>
</section>
