<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;C, C++, Java, Python
        </p>    
         <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;Android Studio, Spring Tool Suite, Eclipse, Netbeans, Git
        </p>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;&nbsp;MySQL, Oracle, SQLite
        </p>
    </article>
</section>
